.progressBarBackground {
  position: relative;
  background: white;
  height: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.progressBar {
  position: absolute;
  margin: 5px;
  height: 10px;
  background: rgb(190, 178, 234);
  transition: width .2s, background .2s, border-radius .2s;
  border-radius: 5px;
}
