.todoItem {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background: #d8cef1;
  padding: 12px 20px 12px 30px;
  transition: background .2s;
  align-items: center;
  user-select: none;
  width: 100%;
}

.todoItem:hover {
  background: #d5a3de;
}

.todoButtons {
  display: flex;
  margin-left: 10px;
}

.todoData {
  pointer-events: none;
}

.text {
  font-size: 18px;
  word-break: break-word;
  margin-right: 4px;
}

.date {
  font-size: 11px;
  color: gray;
  white-space: nowrap;
}

.edit, .delete {
  border: none;
  padding: 5px 7px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.edit {
  background: #d074d7;
  padding-right: 12px;
  margin-right: -5px;
  border-radius: 5px 0 0 5px;
}

.delete {
  position: relative;
  background: #7e74d7;
  z-index: 1;
  transition: border-radius .2s;
}

.todoButtons[data-show-first=false] .delete {
  border-radius: 5px;
}

.todoButtons[data-show-first=true] .delete {
  border-radius: 0 5px 5px 0;
}

.editInput {
  flex: 1;
  padding: 10px;
  border: none;
  background: #f1eeff;
  border-radius: 7px;
  margin-right: 10px;
}
